body

#container_img {
    width: fit-content;
    background: red;
}

.principal {
    width: 480px;
    border: solid 3px #000;
    overflow: hidden;
}

.slide_img {
    display: flex;
}